.container {
  margin-top: 0.2rem;
  margin-bottom: 0.22rem;
}

.sm-text {
  font-size: smaller;
}

.alert-custom {
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 0.2rem;
}